<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShoppingBasketServiceContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Wiggle.Services/ShoppingBasketHost.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShoppingBasketServiceContract"
                contract="ShoppingBasketService.IShoppingBasketServiceContract"
                name="BasicHttpBinding_IShoppingBasketServiceContract" />
        </client>
    </system.serviceModel>
</configuration>